.footer {
  background-color: #0D2C56;
  color: #e3e7ec;

  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 2.5rem; */
}

.white,
.white:visited {
  color: #e3e7ec;
}

.white:hover {
  color: white;
}

/* .stacked-text {
  text-align: left;
}

@media screen and (min-width: 800px) {
  .stacked-text {
    text-align: center;
  }
} */
