.footer {
  background-color: #052250;
  color: #e3e7ec;
}

.white,
.white:visited {
  color: #e3e7ec;
}

.white:hover {
  color: white;
}

/* .stacked-text {
  text-align: left;
}

@media screen and (min-width: 800px) {
  .stacked-text {
    text-align: center;
  }
} */
