img {
  max-width: 100%;
}

.white,
.white:visited {
  color: white;
}

.white:hover {
  color: white;
}

/* @media (max-width: 415px) {
  .card-img {
    display: block;
  }
} */

/* @media (min-width: 600px) {
  .card-img {
    display: block;
  }
} */
